<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="appMapper">

<resultMap id="deptResultMap" type="DeptDto">
	
  		<result column="DEPT_CODE" property="deptCode"/>
  		<result column="DEPT_NAME" property="deptName"/>
  	
		
		
	<collection ofType="MemberDto" property="memList">
  		<result column="MEM_NO" property="memNo"/>
  		<result column="MEM_NAME" property="memName"/>
  		<result column="POS_CODE" property="posCode"/>
  		<result column="POS_NAME" property="posName"/>
  	</collection>
		
		
</resultMap>


<resultMap  id="deptDtoResultSmall" type="DeptDto">
	<result column="mem_name" property="memName"/>
	<result column="dept_name" property="deptName"/>
	<result column="pos_name" property="posName"/>
	<result column="mem_no" property="memNo"/>
</resultMap>

	
	
<!-- jstree 조직도 조회문 -->
<select id="ajaxJstree" resultMap="deptResultMap">
	
	SELECT 
        MEM_NO
       ,MEM_NAME
       ,P.POS_NAME AS POS_NAME
       ,M.POS_CODE AS POS_CODE
       ,D.DEPT_NAME AS DEPT_NAME
       ,M.DEPT_CODE AS DEPT_CODE
	FROM 
		MEMBER M
	JOIN 
		POSITION P ON (M.POS_CODE = P.POS_CODE)
	JOIN 
		DEPARTMENT D ON (M.DEPT_CODE = D.DEPT_CODE)
	
	
</select>



<!-- 양식마다 이동시 양식 기본값 적용할 데이터 조회문 -->
<select id="formDraftPage" resultMap="deptDtoResultSmall">
	select
      dept_name 
      ,mem_name 
      ,pos_name 
      ,mem_no
    from
        member m
    join position p on (m.pos_code = p.pos_code)
    join department d on(m.dept_code = d.dept_code)
    where mem_no = #{userNo}
		
</select>




<!-- 기안 insert -->
<insert id="insertApp">
insert 
into app_doc
(
 DOC_NO
,MEM_NO
,DOC_TYPE
,DOC_TITLE
,DOC_CONTENT
,DOC_IMPORTANCE
,DOC_DATE
,DOC_STATUS
,DOC_ORDER
,STATUS
)
values
(
   seq_app.nextval
  ,#{memNo}
  ,#{docType}
  ,#{docTitle}
  ,#{docContent}
  ,#{docImpo}
  ,sysdate
  ,'A'  -- 대기/진행/최종승인/반려
  ,1    -- 결재순서
  ,'Y'  -- 존재여부
)

</insert>


<!-- 파일 insert -->
<insert id="insertAttach">
insert 
into attachment
(
    FILE_NO
    ,FILE_PATH
    ,FILE_ORIGINAL_NAME
    ,FILE_SYSTEM_NAME
    ,FILE_REF_NO
    ,FILE_REF_TYPE
)
values
(
    seq_fno.nextval
    ,#{filePath}
    ,#{originalName}
    ,#{filesystemName}
    ,seq_app.currval
    ,'A'
)

</insert>



<!-- 결재선 insert -->
<insert id="insertRoval">
insert
into approval
(
 mem_no
 ,doc_no
 ,app_level
 ,app_status
)
values
(
  #{rvNo}
  ,seq_app.currval
  ,#{appLevel}  -- 결재순서
  ,'대기'
)

</insert>


<!-- 참조선 insert  -->
<insert id="insertRef">
insert 
into app_ref
(
  doc_no
  ,mem_no
  ,ref_status
)
values
(
  seq_app.currval
 ,#{refNo}
 ,'참조'
)

</insert>


<!-- 연차신청서 -->
<insert id="insertFormAnn">
insert
into app_form_ann
(
 DOC_NO
,APP_DATE_START
,APP_DATE_END
)
values
(
  seq_app.currval
  ,#{appDateStart}
  ,#{appDateEnd}
)

</insert>


<!-- 증명서신청서 -->
<insert id="insertFormCoe">
insert
into app_form_coe
(
 DOC_NO
,APP_COE_DATE
)
values
(
  seq_app.currval
  ,#{appCoreDt}
)

</insert>








</mapper>