<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="appMapper">




<resultMap id="deptResultMap" type="DeptDto">
	<result column="DEPT_CODE" property="deptCode"/>
  	<result column="DEPT_NAME" property="deptName"/>
  	
	<collection ofType="MemberDto" property="memList">
  		<result column="MEM_NO" property="memNo"/>
  		<result column="MEM_NAME" property="memName"/>
  		<result column="POS_CODE" property="posCode"/>
  		<result column="POS_NAME" property="posName"/>
  	</collection>
</resultMap>




<resultMap  id="deptDtoResultSmall" type="DeptDto">
	<result column="mem_name" property="memName"/>
	<result column="dept_name" property="deptName"/>
	<result column="pos_name" property="posName"/>
	<result column="mem_no" property="memNo"/>
</resultMap>



<resultMap  id="selectStandbyResult" type="AppdocDto">
	<result column="mem_name" property="memName"/>
	<result column="doc_no" property="docNo"/>
	<result column="doc_type" property="docType"/>
	<result column="doc_title" property="docTitle"/>
	<result column="doc_content" property="docContent"/>
	<result column="doc_date" property="docDt"/>
	<result column="doc_importance" property="docImpo"/>
	<result column="doc_status" property="docStatus"/>
</resultMap>


	  
<resultMap  id="detailSelectAppdoc" type="AppdocDto">
	<result column="mem_name" property="memName"/>
	<result column="dept_name" property="deptName"/>
	<result column="pos_name" property="posName"/>
	<result column="doc_date" property="docDt"/>
	<result column="doc_type" property="docType"/>
	<result column="APP_DATE_START" property="appDateStart"/>
	<result column="APP_DATE_END" property="appDateEnd"/>
	<result column="APP_COE_DATE" property="appCoreDt"/>
	<result column="doc_title" property="docTitle"/>
	<result column="doc_content" property="docContent"/>
</resultMap>



<resultMap  id="detailSelectRoval" type="AppRovalDto">
	<result column="dept_name" property="deptName"/>
	<result column="mem_name" property="memName"/>
	<result column="app_level" property="appLevel"/>
	<result column="mem_no" property="rvNo"/>
</resultMap>







	
	
<!-- jstree 조직도 조회문 -->
<select id="ajaxJstree" resultMap="deptResultMap">
	
	SELECT 
        MEM_NO
       ,MEM_NAME
       ,P.POS_NAME AS POS_NAME
       ,M.POS_CODE AS POS_CODE
       ,D.DEPT_NAME AS DEPT_NAME
       ,M.DEPT_CODE AS DEPT_CODE
	FROM 
		MEMBER M
	JOIN 
		POSITION P ON (M.POS_CODE = P.POS_CODE)
	JOIN 
		DEPARTMENT D ON (M.DEPT_CODE = D.DEPT_CODE)
	
	
</select>



<!-- 양식마다 이동시 양식 기본값 적용할 데이터 조회문 -->
<select id="formDraftPage" resultMap="deptDtoResultSmall">
	select
      dept_name 
      ,mem_name 
      ,pos_name 
      ,mem_no
    from
        member m
    join position p on (m.pos_code = p.pos_code)
    join department d on(m.dept_code = d.dept_code)
    where mem_no = #{userNo}
		
</select>




<!-- 기안 insert -->
<insert id="insertApp">
insert 
into app_doc
(
 DOC_NO
,MEM_NO
,DOC_TYPE
,DOC_TITLE
,DOC_CONTENT
,DOC_IMPORTANCE
,DOC_DATE
,DOC_STATUS
,DOC_ORDER
,STATUS
)
values
(
   seq_app.nextval
  ,#{memNo}
  ,#{docType}
  ,#{docTitle}
  ,#{docContent}
  ,#{docImpo}
  ,sysdate
  ,'A'  -- 대기/진행/최종승인/반려
  ,1    -- 결재순서
  ,'Y'  -- 존재여부
)

</insert>


<!-- 파일 insert -->
<insert id="insertAttach">
insert 
into attachment
(
    FILE_NO
    ,FILE_PATH
    ,FILE_ORIGINAL_NAME
    ,FILE_SYSTEM_NAME
    ,FILE_REF_NO
    ,FILE_REF_TYPE
)
values
(
    seq_fno.nextval
    ,#{filePath}
    ,#{originalName}
    ,#{filesystemName}
    ,seq_app.currval
    ,'A'
)

</insert>



<!-- 결재선 insert -->
<insert id="insertRoval">
insert
into approval
(
 mem_no
 ,doc_no
 ,app_level
 ,app_status
)
values
(
  #{rvNo}
  ,seq_app.currval
  ,#{appLevel}  -- 결재순서
  ,'대기'
)

</insert>


<!-- 참조선 insert  -->
<insert id="insertRef">
insert 
into app_ref
(
  doc_no
  ,mem_no
  ,ref_status
)
values
(
  seq_app.currval
 ,#{refNo}
 ,'참조'
)

</insert>


<!-- 연차신청서 -->
<insert id="insertFormAnn">
insert
into app_form_ann
(
 DOC_NO
,APP_DATE_START
,APP_DATE_END
)
values
(
  seq_app.currval
  ,#{appDateStart}
  ,#{appDateEnd}
)

</insert>


<!-- 증명서신청서 -->
<insert id="insertFormCoe">
insert
into app_form_coe
(
 DOC_NO
,APP_COE_DATE
)
values
(
  seq_app.currval
  ,#{appCoreDt}
)

</insert>



<!-- 결재대기함 리스트 갯수 조회 -->
<select id="selectStandbyCount" resultType="_int">
select 
     count(*)
from member m
    join app_doc a on(m.mem_no = a.mem_no)
    join approval r on (a.doc_no = r.doc_no)
    where r.mem_no = #{memNo} -- 결재선/현재로그인한 사번
    and a.doc_order = r.app_level
    and r.app_status = '대기'

</select>




<!-- 결재대기함 리스트 조회 -->
<select id="selectStandby" resultMap="selectStandbyResult">
select 
        m.mem_name as mem_name
        ,a.doc_no as doc_no
        ,a.doc_type as doc_type
        ,
         CASE 
	     WHEN LENGTH(a.doc_title) > 15 THEN SUBSTR(a.doc_title, 1, 15) || '...'
	     ELSE a.doc_title
	  	 END as doc_title
	  	 
        ,a.doc_content as doc_content
        ,a.doc_date as doc_date
        ,a.doc_importance as doc_importance
        ,a.doc_status as doc_status
    from member m
    join app_doc a on(m.mem_no = a.mem_no)
    join approval r on (a.doc_no = r.doc_no)
    where r.mem_no = #{memNo} -- 결재선/현재로그인한 사번
    and a.doc_order = r.app_level
    and r.app_status = '대기'
    and a.status = 'Y'
    order by a.doc_date desc

</select>


<select id="selectViewCount" resultType="_int">

select 
      count(*)
    from member m
    join app_doc a on(m.mem_no = a.mem_no)
    join app_ref ar on (a.mem_no = m.mem_no)
    where a.doc_no = ar.doc_no
    and a.status = 'Y'
    and ar.mem_no = #{memNo}
    order by a.doc_date desc
</select>

<!-- 참조열람함 리스트 조회 -->
<select id="selectView" resultMap="selectStandbyResult">
select 
        m.mem_name as mem_name
        ,a.doc_no as doc_no
        ,a.doc_type as doc_type
        ,
         CASE 
	     WHEN LENGTH(a.doc_title) > 15 THEN SUBSTR(a.doc_title, 1, 15) || '...'
	     ELSE a.doc_title
	  	 END as doc_title
         
        ,a.doc_content as doc_content
        ,a.doc_date as doc_date
        ,a.doc_importance as doc_importance
        ,a.doc_status as doc_status
    from member m
    join app_doc a on(m.mem_no = a.mem_no)
    join app_ref ar on (a.mem_no = m.mem_no)
    where a.doc_no = ar.doc_no
    and a.status = 'Y'
    and ar.mem_no = #{memNo}
    order by a.doc_date desc

</select>






















<!-- 상세페이지 -->
<!-- 기안문서조회 (상세페이지용) -->
<select id="appdocDetailSelectAll" resultMap="detailSelectAppdoc">
 select 
	   m.mem_name as mem_name
	  ,d.dept_name as dept_name
	  ,ad.doc_title as doc_title
	  ,ad.doc_content as doc_content
	  ,p.pos_name as pos_name
	  ,ad.doc_date as doc_date
	  ,ad.doc_type as doc_type
	  ,af.APP_DATE_START as APP_DATE_START
	  ,af.APP_DATE_END as APP_DATE_END
	  ,ac.APP_COE_DATE as APP_COE_DATE      -- 발행날짜
 from 
 	 member m
 join 
 	 department d on (m.dept_code = d.dept_code)
 join 
      position p on (m.pos_code = p.pos_code)
 join 
 	  app_doc ad on (m.mem_no = ad.mem_no)
 left join 
          app_form_ann af on(af.doc_no = ad.doc_no)
 left join 
          app_form_coe ac on(ad.doc_no = ac.doc_no)
 
 where ad.doc_no = #{docNo}
 and ad.status = 'Y'

</select>


<!-- 결재선조회 (상세페이지용) -->
<select id="appdocDetailSelectRoval" resultMap="detailSelectRoval">
select 
      d.dept_name as dept_name
      ,m.mem_name as mem_name
      ,ar.APP_LEVEL as app_level
      ,ar.mem_no as mem_no
from approval ar
join member m on (m.mem_no = ar.mem_no)
join department d on(m.dept_code = d.dept_code)
where ar.doc_no = #{docNo}

</select>

<!-- 파일조회 (상세페이지용) -->
<select id="appdocDetailSelectAttach" resultType="AttachDto">

select 
      FILE_PATH
     ,FILE_SYSTEM_NAME
     ,FILE_ORIGINAL_NAME
 from attachment
 where FILE_REF_TYPE = 'A'
 and FILE_REF_NO = #{docNo}
 
</select>













</mapper>