<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memoMapper">

	<resultMap id="memoResultMap" type="memoDto">
		<result column="MEMO_NO" property="memoNo" />
		<result column="MEM_NO" property="memNo" />
		<result column="MEMO_CONTENT" property="memoContent" />
		<result column="MEMO_REGIST_DATE" property="memoRegistDt" />
		<result column="MEMO_MODIFY_DATE" property="memoModifyDt" />
	</resultMap>
	
	<select id="selectMemoList" resultMap="memoResultMap">
		select
				   memo_no
				 , mem_no
				 , memo_content
				 , memo_regist_date
				 , memo_modify_date
		  from memo
		 where mem_no = #{memNo}
		 order
		    by memo_no desc
	</select>
	
	<insert id="insertMemo">
		insert
		  into memo
 				  (
 				   memo_no
 				 , mem_no
 				 , memo_content
 				 , memo_regist_date
 				 , memo_modify_date				  
 				  )
 	 values
 	 				(
 	 				 seq_memono.nextval
 	 			 , #{memNo}
 	 			 , #{memoContent}
 	 			 , sysdate
 	 			 , sysdate
 	 				)
	</insert>
	
	<select id="selectMemoByNo" resultMap="memoResultMap">
		select
					 memo_no
				 , mem_no
				 , memo_content
				 , memo_regist_date
				 , memo_modify_date
		  from memo
		 where memo_no = #{memoNo}
	</select>
  
</mapper>